 
<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center title">

<%= month_calendar events: events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
  <% end %>
</div>
</div>
</div>
</div>
</div>
</div>